<!doctype html>
<html>

<head>
    <title>PhoneGap</title>
    <meta name="viewport" content="width=device-width, height=device-height">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="assets/js/vendor/json2.js"></script>
    <script type="text/javascript" src="assets/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="assets/js/vendor/underscore.js"></script>
    <script type="text/javascript" src="assets/js/vendor/backbone.js"></script>
    <script type="text/javascript" src="assets/js/vendor/spin.js"></script>
    <script type="text/javascript" src="assets/js/app/router.js"></script>
    <script type="text/javascript" src="assets/js/app/app.js"></script>
    <script type="text/javascript" src="assets/js/app/utils.js"></script>

    <script>
        var xpost = [
            {title : 'Beautiful day in the capital of Scand...', details : 'Posted 10 minutes ago | 7 comments', body : 'Hey, guys. I am currently enjoying the sun in...'},
            {title : 'Just booked tickets to the upcoming...', details : 'Posted 10 minutes ago | 7 comments', body : 'I will be attending the upcoming STCC event...'}
        ];
    </script>

    <script type="text/template" id="post-collection-template">
        <h1><%= title %></h1>
        <p class="details"><%= details %></p>
        <p class="extract"><%= body %></p>
    </script>

    <script type="text/template" id="login-template">
        <div id="logo">
            <img src="assets/img/logo.png" />
        </div>

        <form>
            <fieldset>
                <input type="text" name="email" placeholder="Email" />
            </fieldset>

            <fieldset>
                <input type="text" name="phone" placeholder="Password" />
            </fieldset>

            <fieldset>
                <input type="submit" value="Login to Account" class="btn green" />
            </fieldset>
        </form>

        <p>Forgot your password?</p>
    </script>


    <script type="text/template" id="app-template">
        <div id="menu">
            <input type="button" class="smally green" value="Back" />

            <span>Update entry</span>
            <input type="button" class="smally green" value="Update" />

            <div style="clear: both;"></div>
        </div>

        <form>
            <input type="text" name="header" value="<%= title %>" />
            <textarea><%= body %></textarea>
        </form>
    </script>

</head>

<body>
    <div id="content"></div>
</body>

</html>