html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

html {
  background: url("../img/bg.png");
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12pt; }

#content {
  width: 100%; }

#logo {
  text-align: center;
  margin: 20px 0 10px 0; }
  #logo img {
    max-width: 180px; }

#login input {
  height: auto; }
  #login input.btn {
    height: 40px; }

form fieldset {
  text-align: center;
  border: 0; }
  form fieldset input[type='text'], form fieldset input[type='password'] {
    outline: none;
    background: #fff;
    border: 2px solid #bfbfbf;
    border-radius: 3px;
    box-shadow: 0 1px 0 black, 1px 0 0 black, -1px 0 0 black, 0 -1px 0 black, 0 2px 0 #686868;
    padding: 10px 9px;
    width: 236px; }
    form fieldset input[type='text']:focus, form fieldset input[type='password']:focus {
      border: 2px solid #55b5e5; }

#home {
  color: #fff;
  width: 100%; }
  #home .profile {
    padding: 20px; }
    #home .profile img.border {
      border: 5px solid #fff; }
  #home .icon {
    float: left;
    display: block;
    width: 100px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto; }
  #home .left {
    float: left;
    display: block;
    width: 50%; }
  #home .right {
    float: right;
    display: block; }

.btn {
  width: 260px;
  height: 40px;
  border: 0;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn.green {
    border: 1px solid #000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#73fc6a), to(#05a21e));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #73fc6a, #05a21e);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #73fc6a, #05a21e);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #73fc6a, #05a21e);
    /* IE10 */
    background-image: -o-linear-gradient(top, #73fc6a, #05a21e);
    /* Opera 11.10+ */
    background-image: linear-gradient(to bottom, #73fc6a, #05a21e);
    box-shadow: 0 1px white inset, 1px 0 #7cd785 inset, 0 -1px 0 #68c677 inset, -1px 0 #7cd785 inset; }
    .btn.green:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#9dfd97), to(#1dac34));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #9dfd97, #1dac34);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, #9dfd97, #1dac34);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, #9dfd97, #1dac34);
      /* IE10 */
      background-image: -o-linear-gradient(top, #9dfd97, #1dac34);
      /* Opera 11.10+ */
      background-image: linear-gradient(to bottom, #9dfd97, #1dac34);
      box-shadow: 0 1px white inset, 1px 0 #c0efc3 inset, 0 -1px 0 #a4ddad inset, -1px 0 #c0efc3 inset; }
    .btn.green:active {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#6ff967), to(#07a41f));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #6ff967, #07a41f);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, #6ff967, #07a41f);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, #6ff967, #07a41f);
      /* IE10 */
      background-image: -o-linear-gradient(top, #6ff967, #07a41f);
      /* Opera 11.10+ */
      background-image: linear-gradient(to bottom, #6ff967, #07a41f);
      box-shadow: 0 0 4px #000000 inset;
      border-bottom: 1px solid #9a9a9a; }

/**
* AJAX Loader
*/
#spinner {
  position: fixed;
  top: 200px;
  left: 800px;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

#login p {
  font-size: 12pt;
  text-align: center;
  color: #ccc; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fb8a26), to(#e86117));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #fb8a26, #e86117);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #fb8a26, #e86117);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #fb8a26, #e86117);
    /* IE10 */
    background-image: -o-linear-gradient(top, #fb8a26, #e86117);
    /* Opera 11.10+ */
    background-image: linear-gradient(to bottom, #fb8a26, #e86117);
    border-top: 1px solid #fdc593;
    border-bottom: 1px solid #b54c12;
    box-shadow: 0 -1px 0 #fed9b7;
    padding: 20px;
    color: #fff; }
    ul li h1 {
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      font-weight: bold; }

#menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fb8a26), to(#e86117));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fb8a26, #e86117);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #fb8a26, #e86117);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #fb8a26, #e86117);
  /* IE10 */
  background-image: -o-linear-gradient(top, #fb8a26, #e86117);
  /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, #fb8a26, #e86117);
  border-top: 1px solid #fdc593;
  border-bottom: 1px solid #b54c12;
  box-shadow: 0 -1px 0 #fed9b7;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  padding: 20px;
  height: 25px;
  width: 100%; }
  #menu span {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-left: -20px; }
  #menu input:first-child {
    float: left; }
  #menu input:last-child {
    position: absolute;
    right: 20px; }

form {
  margin: 0;
  padding: 0; }
  form input {
    border: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    outline: none;
    border-bottom: 1px solid #dddddd; }
  form textarea {
    border: 0;
    margin: 0;
    width: 100%;
    height: 300px;
    outline: none;
    resize: none; }

.smally {
  padding: 0 20px;
  height: 40px;
  border: 0;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-shadow: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .smally.green {
    border: 1px solid #ff9933;
    border-top: 1px solid #ffda99;
    border-bottom: 1px solid #ff8533;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffa200), to(#ff6600));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #ffa200, #ff6600);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #ffa200, #ff6600);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #ffa200, #ff6600);
    /* IE10 */
    background-image: -o-linear-gradient(top, #ffa200, #ff6600);
    /* Opera 11.10+ */
    background-image: linear-gradient(to bottom, #ffa200, #ff6600);
    box-shadow: 0 1px 0 #bb5214; }
    .smally.green:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#9dfd97), to(#1dac34));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #9dfd97, #1dac34);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, #9dfd97, #1dac34);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, #9dfd97, #1dac34);
      /* IE10 */
      background-image: -o-linear-gradient(top, #9dfd97, #1dac34);
      /* Opera 11.10+ */
      background-image: linear-gradient(to bottom, #9dfd97, #1dac34);
      box-shadow: 0 1px white inset, 1px 0 #c0efc3 inset, 0 -1px 0 #a4ddad inset, -1px 0 #c0efc3 inset; }
    .smally.green:active {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#6ff967), to(#07a41f));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #6ff967, #07a41f);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, #6ff967, #07a41f);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, #6ff967, #07a41f);
      /* IE10 */
      background-image: -o-linear-gradient(top, #6ff967, #07a41f);
      /* Opera 11.10+ */
      background-image: linear-gradient(to bottom, #6ff967, #07a41f);
      box-shadow: 0 0 4px #000000 inset;
      border-bottom: 1px solid #9a9a9a; }
  .smally.light {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff9600));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #ffcc00, #ff9600);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #ffcc00, #ff9600);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #ffcc00, #ff9600);
    /* IE10 */
    background-image: -o-linear-gradient(top, #ffcc00, #ff9600);
    /* Opera 11.10+ */
    background-image: linear-gradient(to bottom, #ffcc00, #ff9600);
    border: 1px solid #ffcf66;
    border-top: 1px solid #fff0b3;
    border-bottom: 1px solid #ffc166;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2); }
