html {
  background: #666;
  }

#logo {
  text-align: center;
  }

form {
  fieldset {
    text-align: center;
    }
  }

p {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12pt;
  text-align: center;
  color: #ccc;
  }